{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelDjango</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <div class="nav-left">
                    <ul>
                    <li><a href="/">TravelDjango</a></li>
                    <li><a href="/destination">Destinations</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contactus">Contact</a></li>
                </ul>
                </div>
                <div class="nav-right">
                    <ul>
                    {% if user.is_authenticated %}
                        <li><span>Hi, {{ user.first_name }}</span></li>
                        <li><a href="/logout">Logout</a></li>
                    {% else %}
                        <li><a href="/signin">Sign In</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                    </ul>
                    {% endif %}
                </div>
                
            </nav>
        </div>
    </header>

    <main>
        {% block content %}
{% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 TravelDjango</p>
        </div>
    </footer>
</body>
</html>
