{% extends "master.html" %}
{% block content %}
<section>
    <h1>Sign In</h1>
    <form method="POST">
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
            <p class="error">{{ message }}</p>
        {% endfor %}
    {% endif %}
        <label for="id_email">Email:</label>
        <input type="email" id="id_email" name="email" placeholder="Email" required>
        
        <label for="id_password">Password:</label>
        <input type="password" id="id_password" name="password" placeholder="Password" required>
        
        <button type="submit">Sign In</button>
    </form>
    <!-- Add links for sign up or forgot password here -->
</section>
{% endblock %}
